.container{
    width: 100%;
    margin: 4em auto 0 auto;
}

header{
    text-align: center;
    margin-bottom: 3em;
}

header h1{
    font-size: 2em;
    margin-bottom: 0.5em;
}

header p{
    font-size: 1.1em;
}

.form{
    padding: 3em 2.5em;
    background: rgba(27, 27, 50, 0.3);
    opacity: 0.7;
}

fieldset{
    margin-bottom: 2em;
}

input, button, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

input{
    border-width: 1px;
    border-style: solid;
}

form label{
    display: flex;
    align-items: center;
}

form label, form legend{
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

form .input, form select, form .inputtextarea{
    display: block;
    width: 100%;
    padding: 0.8em 1.1em;
    box-sizing: border-box;
    border-radius: 0.5em;
}

form .inputtextarea{
    resize: vertical;
    min-height: 120px;
}

.radioinput, .checkboxinput {
    display: inline-block;
    min-height: 1.25em;
    min-width: 1.25em;
    margin-right: 0.5em;
}

.boxsubmitinput{
    width: 60%;
    margin: 0 auto;
}

form .inputsubmit{
    width: 100%;
    padding: 1.2em 0;
    font-size: 1.1em;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 1.5em;
    background: linear-gradient(#AAAAAA, #111111);
    transition: 1s;
}

form .inputsubmit:hover {
    transform: scale(1.05);
    background: #333333;
}

@media screen and (min-width: 768px){
    .container{
        max-width: 720px;
    }

    .form{
        border-radius: 2em;
    }
}
